@import '~bootstrap/scss/bootstrap';
@import 'variables';

body {
  background-color: $background;
  font-family: 'Fredoka One', cursive;
}

.header-container {
  font-family: 'Fredoka One', cursive;
  display: flex;
  justify-content: space-between;
}
.header-header {
  align-self: flex-end;
  margin-left: 15px;
}

.header-signout {
  align-self: flex-end;
  margin-right: 15px;
}

.sign-in-container {
  align-items: stretch;
  display: flex;
  justify-content: center;
}

.sign-up-form {

  background-color: $color1;
  padding: 15px 0;
  border: 1px solid $black;
  flex-basis: 15em;
  text-align: center;
  border-radius: 40px 0 0 40px;
}

.sign-in-form {
  background-color: $color1;
  padding-top: 15px;
  border: 1px solid $black;
  flex-basis: 15em;
  text-align: center;
  border-radius: 0 40px 40px 0;
}

.top-status-container {
  display: flex;
  justify-content: center;
}

.top-status-bar {
  // width: 90%;
  // border: 1px solid $black;
  flex-basis: 750px;
  height: 20px;
  // display: flex;
  margin-bottom: 20px;
  padding-bottom: 1.5em;

  & > div {
    text-align: center;
  }
}

.board-container {
  align-items: center;
  display: flex;
  height: 450px;
  justify-content: center;
  margin: 10px;
}

.board-left {
  // border: 1px solid $black;
  flex-basis: 125px;
  margin-right: 10px;
  text-align: center;
  height: 150px;
  padding: 61px, 0;
}

.game-table {
  // border: 1px solid $black;
  flex-basis: 1500px;
  height: width;
  justify-content: center;
  tr {
    td {
      border: 3px solid $color2;
      min-width: 150px;
      height: 150px;
      // padding: 5px;
      text-align: center;
      font-size: 50px;
      color: $color4;
    }
  }
}

.board-right {
  // border: 1px solid $black;
  // flex: 1;
  flex-basis: 125px;
  margin-left: 10px;
  text-align: center;
}

.newGame {
  margin-bottom: 10px;
}

.getAllGames {
  margin-bottom: 10px;
}
// .getAllGames {
//   margin-bottom: 10px;
// }
.change-password {
  background-color: $color1;
  border: 1px solid black;
  width: 465px;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
}

.accountMessages {
  height: 24px;
}
.gameRecords {
  background-color: $color1;
  width: 465px;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  border-radius: 20px;
}
@media only screen and (max-width: 745px) {
  .sign-in-container {
    align-items: stretch;
    display: flex;
    justify-content: center;
  }

  .sign-up-form {
    border: 1px solid $black;
    flex-basis: 10em;
  }

  .sign-in-form {
    border: 1px solid $black;
    flex-basis: 10em;
  }

  .top-status-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  .top-status-bar {
    // width: 90%;
    // border: 1px solid $black;
    flex-basis: 250px;
    height: 20px;
    // display: flex;
    margin-bottom: 20px;
    // padding-bottom: 1.5em;

    & > div {
      text-align: center;
    }
  }

  .board-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    margin: 10px;
    padding: 100px 0;
  }

  .board-left {
    border: 1px solid $black;
    text-align: center;
    padding: 0;
  }
  // .game-active {
  // }

  .game-table {
    border: 1px solid $black;
    flex-basis: 350px;
    height: width;
    margin: 10px 0;

    tr {
      td {
        // border: 3px solid $black;
      }
    }
  }

  .board-right {
    // border: 1px solid $black;
    // flex: 1;
    // flex-basis: 125px;
    // margin-left: 10px;
  }
  .account-container {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 475px) {
  .top-status-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
  .game-table {
    tr {
      td {
        // border: 3px solid $black;
        min-width: 90px;
        height: 90px;
        // padding: 5px;
        text-align: center;
        font-size: 50px;
      }
    }
  }
  .account-container {
    margin-top: 50px;
  }
}
